body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #181818;
  line-height: 1.8;
}
body{
    background-color: rgb(205, 229, 229);
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/949/141/large_2x/programming-code-coding-or-hacker-background-vector.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/w3images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.w3-top {
  position: fixed; /* usually already fixed, but ensure it */
  z-index: 10000;  /* very high so it overlays content */
}

.w3-bar {
  overflow: visible !important; /* prevent clipping dropdown */
}

.w3-dropdown-content {
  z-index: 11000 !important;   /* higher than .w3-top */
}

a:hover[href*="lorenzoangel"]{
  color:limegreen; 
}
